 body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
    color: #868e96;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 0;
      padding-left: 17rem;
    }
  }

  .img-profile {
    filter: grayscale(100%);
  }

  .about-page {
    background-image: url("img/bg-1.jpg");
    background-size: cover  ;
    position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
  }

.about-page .resume-section .lead {
  margin: 2px;
  padding: 5rem;
  background: rgba(221, 221, 221, 0.69);
  box-sizing: border-box;
  border-radius: 20px;
  color: #000;
  font-size: 1.7rem;
  font-weight: 500;
  
}
#education{
  background-color: #060c21;
  width: 100%;
}

.edu-descripton {
  
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #9fa5ac;
  }

  .first-name {
    color: #2fe609bd;
  }
  
  h1 {
    font-size: 6rem;
    line-height: 5.5rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  p.lead {
    font-size: 1.15rem;
    font-weight: 400;
  }
  
  .subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem;
  }

  .subheading>a {
    color: rgb(225, 17, 17) !important;
    text-transform: lowercase;
  }
  .subheading>i{
    color: #cd4d00bf;
  }
  
  .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #1884f1;
    color: rgb(255, 255, 255) !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    margin-left: 130px;
    margin-top: 2rem;
    transition: 0.4s ease-in-out;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .social-icons a:hover {
    background-color: rgb(0, 0, 0, 0.35);
    color: #1884f1 !important;
  }
  
  .dev-icons {
    font-size: 3rem;
    display: flex;
    /* justify-content: initial; */
  }
  .dev-icons li i {
    margin: 20px;
  }

  .dev-icons .list-inline-item i {
    margin right: 50px;
  }

  .without-logo{
    font-size: 0.7em;
  }
  
  .dev-icons .list-inline-item i:hover {
    color: #BD5D38;
  }
  
  #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 3.5rem;
  }
  
  #sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
  }
  
  @media (min-width: 992px) {
    #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
      
      filter: grayscale(10%);
      transition: 0.5s ease-in-out;
    }

    #sideNav .navbar-brand .img-profile:hover{
      filter: grayscale(45%);
    }

    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
      display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block;
    }
  }

  .without-logo{
    display: inline-block;
  }
  
  section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    /* max-width: 75rem; */
  }
  
  section.resume-section .resume-item .resume-date {
    min-width: none;
  }
  
  @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem;
    }
  }
  
  @media (min-width: 992px) {
    section.resume-section {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
  }
  
  .bg-primary {
    background-color: #757575 !important;
  }
  
  .text-primary {
    color: #BD5D38 !important;
  }
  
  a {
    color: #BD5D38;
  }
  
  a:hover, a:focus, a:active {
    color: #824027;
  }
  